<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="avelonnetwork_order_place_before_action" instance="AndrewAvelonetwork\AvelonNetworkAffiliateMarketing\Observer\PlaceOrder"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="avelonnetwork_order_place_after" instance="AndrewAvelonetwork\AvelonNetworkAffiliateMarketing\Observer\AvelonOrderProcessedObserver" />
    </event>
</config>