<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing::menu"
    		 title="Avelon" module="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing"
    		 sortOrder="10"
    		 resource="Magento_Backend::content"
    		/>
    	<add id="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing::menu_item"
    		 title="Avelon Settings" module="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing"
    		 sortOrder="10" parent="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing::menu"
    		 action="avelonnetworkaffiliatemarketing/settings/index"
    		 resource="AndrewAvelonetwork_AvelonNetworkAffiliateMarketing::menu_item"
    		/>
    </menu>
</config>
